build/
.dart_tool/
*.apk
*.dill
output-metadata.json
*.ipa
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.packages
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
pubspec.lock
.idea/

